body{
    margin: 0;
    padding: 0;
}
.head-div1{
     background: #4e4d4d70;
     min-height: 100vh;    
}
.head-div2{
    
min-height: 100vh;
background-image: url('./images//bgimg.png');
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
}
.navbar {
    color: white;
    padding: 15px 0;
 
  }
  
  .navbar h1 {
   /* margin: 0 ;*/
    font-size: 1.5rem;
    font-family:'Courier New', Courier, monospace
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar ul li {
    margin: 0 15px;
  }
  
  .navbar ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
  }
  .head-div3{
    margin-left: 5rem;
    margin-top: 10rem;
    
    align-items: center;
    text-align: center;
  }
  /*plan trip*/
  .plan-trip{
    margin-left: 100px;
  }
  #channel{
    background-color: rgb(249, 232, 211);
    padding-top: 10%;
    padding-bottom: 10%;
}
  #channelImg{
    height: 490px;
    width: 100%;
}

 